<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email/SMS Spam Classifier</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Email/SMS Spam Classifier</h1>
        <form action="/predict" method="post">
            <textarea name="message" rows="10" cols="30" placeholder="Enter the message"></textarea><br>
            <input type="submit" value="Predict">
        </form>
        {% if prediction %}
            <h2>{{ prediction }}</h2>
        {% endif %}
    </div>
</body>
</html>
